{% extends "template.html" %}
{% block styles %}
{{ super() }}
<style>

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.btn-sm {
  margin: 2px 6px;
}
</style>


{% endblock %}


{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="tables">アフター録
          {% if current_user.is_authenticated %}
          <a href="{{url_for('after_edit')}}" class="btn btn-primary">新規登録</a>
          {% endif %}
        </h1>
        <div class="bs-component">
          <ul class="pager">
            <li class="previous {{ "disabled" if not pagination.has_prev}}"><a href="{{url_for('after',page=pagination.prev_num) }}">&larr; Newer</a></li>
            <li>                {{ pagination.page}}/{{ pagination.pages}}                            </li>
            <li class="next  {{ "disabled" if not pagination.has_next}}"><a href="{{url_for('after',page=pagination.next_num) }}">Older &rarr;</a></li>
          </ul>
        </div>
      </div>
      <div class="row row-eq-height">
        {% for after in pagination.items %}
        <div class="col-md-6 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="bs-component">
                  <div class="col-xs-4">
                    {{after.date}}
                  </div>
                  <div class="col-xs-8">
                    @{{ after.restaurant.name }}({{ after.restaurant.place }})
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="bs-component">
                <dl>
                  <dt> <b> {{unescape(after.title)}} </b> </dt>
                  <dd>{{unescape(after.comment)}}</dd>
                  <dt>参加者 ( {{ len(after.participants) }} ) </dt>
                  <dd>
                  {% for m in after.participants %}
                  <span {% if m.sex == 1 or m.sex == 'female' %} style="color: red;" {% endif %}>
                    {{ m.show_name }}
                  </span>
                  {% endfor %}

                  </dd>
                </dl>
              </div>
              {% if current_user.is_authenticated %}
              <div class="row">
                <div class="bs-component">
                  <div class="col-xs-12">
                    <div style="display:inline-block;">
                      <form method="get" action="{{url_for('after_edit')}}">
                        <input type="hidden" name="method" value="PUT">
                        <input type="hidden" name="id" value="{{after.id}}">
                        <input type="submit" value="編集" class="btn btn-sm btn-warning">
                      </form>
                    </div>
                    <div style="display:inline-block;">
                      <form method="post" action="{{url_for('after_confirm')}}">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="hidden" name="id" value="{{after.id}}">
                        <input type="submit" value="削除" class="btn btn-sm btn-danger">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- <div class="bs-component">
        <table class="table table-striped table-hover ">
        <thead>
        <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>店</th>
        <th>参加人数</th>
        <th>コメント</th>
        {% if current_user.is_authenticated %}
        <th></th>
        <th></th>
        {% endif %}

        </tr>
        </thead>
        <tbody>
        {% for after in pagination.items %}
        <tr>
        <th>{{ after.date }}</th>
        <th>{{ after.title }}</th>
        <th>{{ after.restaurant.name }}({{ after.restaurant.place }})</th>
        <th>{{ len(after.participants) }}</th>
        <th>{{ after.comment[:15] }}...</th>
        {% if current_user.is_authenticated %}
        <th>
        <form method="get" action="{{url_for('after_edit')}}">
        <input type="hidden" name="method" value="PUT">
        <input type="hidden" name="id" value="{{after.id}}">
        <input type="submit" value="編集"  class="btn btn-warning">
        </form>
        </th>
        <th>
        <form method="post" action="{{url_for('after_confirm')}}">
        <input type="hidden" name="method" value="DELETE">
        <input type="hidden" name="id" value="{{after.id}}">
        <input type="submit" value="削除"  class="btn btn-danger">
        </form>
        </th>
        {% endif %}


        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div> -->
        <div class="bs-component">
          <div class="bs-component">
            <ul class="pager">
              <li class="previous {{ "disabled" if not pagination.has_prev}}"><a href="{{url_for('after',page=pagination.prev_num) }}">&larr; Newer</a></li>
              <li>                {{ pagination.page}}/{{ pagination.pages}}                            </li>
              <li class="next  {{ "disabled" if not pagination.has_next}}"><a href="{{url_for('after',page=pagination.next_num) }}">Older &rarr;</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
