{% extends "edit_template.html" %}
{% block content %}
<div class="container">
練習録登録ページ
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-sm-12">                            
<form action="{{url_for('after_edit')}}" class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group  required">{{ form.date.label(class="control-label") }} {{form.date(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.after_stage.label(class="control-label") }} {{form.after_stage(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.restaurant.label(class="control-label") }} {{form.restaurant(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.participants.label(class="control-label") }} {{form.participants(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.title.label(class="control-label") }} {{form.title(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.comment.label(class="control-label") }} {{form.comment(class="form-control")}}</div>      
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="確定">
</form>
</div>
</div>
</div>
{% endblock %}
