{% extends "template.html" %}
{% block content %}
<div class="container">
  大会コース・種目確認ページ
  <div class="row">
    <div class="bs-component">
      <div class="panel panel-default">
        {% if form.method.data == 'POST' %}
        <div class="panel-heading">以下の大会を新規に登録します。</div>
        {% elif form.method.data == 'PUT' %}
        <div class="panel-heading">以下の様に大会情報を更新します。</div>
        {% elif form.method.data == 'DELETE' %}
        <div class="panel-heading">以下の大会情報を削除します。</div>
        {% endif %}

        <div class="panel-body">
          <div class="bs-component">
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>大会名</th>
                  <th>種目・コース名</th>
                  <th>距離</th>
                  <th>時間</th>
                  <th>累積標高</th>
                  <th>コメント</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{ competition.name }}</th>
                  <th>{{ form.show_name.data }}</th>
                  <th>{{ form.distance.data }}km</th>
                  <th>{{ form.time.data }}時間</th>
                  <th>{{ form.elevation.data }}m</th>
                  <th> {{ form.comment.data }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="form-id" action="{{url_for('course_confirm')}}" method="post">
    {{ form.csrf_token }}
    {{ form.id }}
    {{ form.method }}
    <input type="hidden" name="competition_id" value="{{ form.competition_id.data }}">
    <input type="hidden" name="distance" value="{{ form.distance.data }}">
    <input type="hidden" name="time" value={{ form.time.data if form.time.data else "" }}>
    <input type="hidden" name="type" value="{{ form.type.data }}">
    <input type="hidden" name="show_name" value="{{ form.show_name.data }}">
    <input type="hidden" name="comment" value="{{ form.comment.data }}">
    <input type="hidden" name="confirmed" value="true">
    {% if form.method.data == 'POST' %}
    <input type="hidden" name="method" value="POST">
    <input type="submit" value="登録" name="submit"  class="btn btn-primary">
    {% elif form.method.data == 'PUT' %}
    <input type="hidden" name="id" value="{{ form.id.data }}">
    <input type="hidden" name="method" value="PUT">
    <input type="submit" value="更新"  class="btn btn-warning">
    {% elif form.method.data == 'DELETE' %}
    <input type="hidden" name="id" value="{{ form.id.data }}">
    <input type="hidden" name="method" value="DELETE">
    <input type="submit" value="削除"  class="btn btn-danger">
    {% endif %}
    <a href="{{url_for('result')}}" class="btn btn-default">キャンセル</a>
  </form>


</div>
{% endblock %}
