{% extends "template.html" %}
{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css"> -->
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  $(document).ready(function() {
    var data = [];
    options = $('#restaurant').children();
    for (i = 0; i < options.length; i++) {
      target = options.eq(i);
      data.push([Number(target.val()), target.text()]);
    }
    $('#narrow_down').change(function() {
      keyword = $(this).val();
      $('#restaurant option').remove();
      for (var option of data) {
        if (keyword === '' || option[1].indexOf(keyword) != -1) {
          $('#restaurant').append($('<option>').html(option[1]).val(option[0]));
        }
      }
    });
  });

</script> -->
{% endblock %}
