{% extends "template.html" %}
{% block styles %}
{{ super() }}
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css"> -->
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>                      -->
<!-- <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script> -->
<!-- <script type="text/javascript">                                                                                            -->
<!--   $(function () {                                                                                                          -->
<!--     $('#date').datetimepicker({                                                                                            -->
<!--       locale: 'ja',                                                                                                        -->
<!--       format: 'YYYY-MM-DD'                                                                                                 -->
<!--     });                                                                                                                    -->
<!--   });                                                                                                                      -->
<!-- </script>                                                                                                                  -->
{% endblock %}
