{% extends "template.html" %}
{% import 'macro.html' as macro %}
{% block
content %}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <h1>ホノマラメンバーズサイト</h1>
                    <p class="lead">
                        <a href="http://www.honomara.net/">ホノルルマラソンを走る会</a >の活動記録。 練習記録とか大会記録とか...
                    </p>
                    <h3>最新の更新</h3>
                    <div class="row">
                        <div class="bs-component">
                            <div class="col-xs-12 col-sm-6">
                                <h5>練習録</h5>
                                {{ macro.training(training,current_user) }}
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h5>アフター録</h5>
                                {{ macro.after(after,current_user) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}