{% extends "template.html"%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="tables">レースタイプリスト
                </h1>
            </div>
            <div class="bs-component">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>タイプ</th>
                            <th>表示名</th>
                            <th>距離または時間</th>
                            <th>ランク</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for race_type in race_types %}
                        <tr>
                            <td>{{race_type.race_type}}</td>
                            <td>{{race_type.show_name}}</td>
                            {% if int(race_type.duration) < 1000 %}
                            <td>{{race_type.duration}}km</td>
                            {% else %}
                            <td>
                                {{int(race_type.duration)//3600}}時間
                            </td>
                            {% endif %}
                            <td>{{race_type.ranking}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}