{% extends "template.html" %}
{% block content %}
<div class="container">
大会登録ページ
<form action="{{url_for('race_edit')}}" class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group  required">{{ form.date.label(class="control-label") }} {{form.date(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.race_name.label(class="control-label") }} {{form.race_name(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.race_name_option.label(class="control-label") }} {{form.race_name_option(class="form-control")}}</div>      
        <div class="form-group  required">{{ form.comment.label(class="control-label") }} {{form.comment(class="form-control")}}</div>      
        <input class="btn btn-default" id="submit" name="submit" type="submit" value="確定">
</form>
</div>
{% endblock %}
