{% extends "template.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1 id="tables">練習参加回数ランキング
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row bs-component">
                <form id="form-id" action="{{url_for('ranking')}}" method="get">
                    <select id="year_list" multiple name="year_list" size=1>
                        {% for year in years %}
                        <option value="{{ year }}" selected> {{ year }}年度入学を含める</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="絞り込む">
                </form>
            </div>

            <div class="bs-component">
                <table class="table">
                    <thead>
                        <tr>
                            <th>順位</th>
                            <th>名前</th>
                            <th>練習参加回数</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th>{{ item['rank'] }}</th>
                            <th {% if item['sex'] in [1, 'female'] %} style="color: red;" {% endif %}>{{ item['show_name'] }}</th>
                            <th>{{ item['t_cnt'] }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
