{% extends "template.html" %}
{% block content %}
<div class="container">
  練習録確認ページ
  <div class="row">
    <div class="bs-component">
      <div class="panel panel-default">
        {% if form.method.data == 'POST' %}
        <div class="panel-heading">以下の練習記録を新規に登録します。</div>
        {% elif form.method.data == 'PUT' %}
        <div class="panel-heading">以下の様に練習記録を更新します。</div>
        {% elif form.method.data == 'DELETE' %}
        <div class="panel-heading">以下の練習記録を削除します。</div>
        {% endif %}


        <div class="panel-body">
          <div class="bs-component">
            <dl>
              <dt>練習日</dt>
              <dd>{{form.date.data.strftime('%Y/%m/%d(%a)')}}</dd>
              <dt>参加者({{len(form.participants.data)}}人)</dt>
              <dd>
                {% for m in form.participants.data %}
                <span {% if m.sex == 1 or m.sex=='female' %} style="color: red;" {% endif %}>
                  {{ m.show_name }}
                </span>
                {% endfor %}
              </dd>
              <dt>天気</dt>
              <dd>{{form.weather.data}}</dd>
              <dt>場所</dt>
              <dd>{{form.type.data}}</dd>
              <dt>タイトル</dt>
              <dd>{{form.title.data}}</dd>
              <dt>コメント</dt>
              <dd>{{form.comment.data}}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bs_component">
    <form id="form-id" style="display: inline-block;" action="{{url_for('training_confirm')}}" method="post">
      {{ form.csrf_token }}
      {{ form.id }}
      {{ form.method }}
      <input type="hidden" name="date" value="{{ form.date.data }}">
      <input type="hidden" name="weather" value="{{ form.weather.data }}">
      <input type="hidden" name="title" value="{{ form.title.data }}">
      <input type="hidden" name="type" value="{{ form.type.data }}">
      <input type="hidden" name="comment" value="{{ form.comment.data }}">
      <input type="hidden" name="confirmed" value="True">
      {% for m in form.participants.data %}
      <input type="hidden" name="participants" value="{{ m.id }}">
      {% endfor %}
      {% if form.method.data == 'POST' %}
      <input type="submit" value="登録" class="btn btn-primary" onclick="spinner();">
      {% elif form.method.data == 'PUT' %}
      <input type="hidden" name="id" value="{{ form.id.data }}">
      <input type="submit" value="更新" class="btn btn-warning" onclick="spinner();">
      {% elif form.method.data == 'DELETE' %}
      <input type="hidden" name="id" value="{{ form.id.data }}">
      <input type="submit" value="削除" class="btn btn-danger" onclick="spinner();">
      {% endif %}
    </form>
    {% if form.method.data != 'DELETE' %}
    <form id="form-id" style="display: inline-block;" action="{{url_for('training_edit')}}" method="get">
      {{ form.id }}
      {{ form.method }}
      <input type="hidden" name="date" value="{{ form.date.data }}">
      <input type="hidden" name="weather" value="{{ form.weather.data }}">
      <input type="hidden" name="title" value="{{ form.title.data }}">
      <input type="hidden" name="type" value="{{ form.type.data }}">
      <input type="hidden" name="comment" value="{{ form.comment.data }}">
      {% for m in form.participants.data %}
      <input type="hidden" name="participants" value="{{ m.id }}">
      {% endfor %}
      <input type="submit" name="submit" value="修正" class="btn btn-success">
    </form>
    {% endif %}
    <a href="{{url_for('training')}}" class="btn btn-default">キャンセル</a>
  </div>
  <div id="spinner" class="text-center" style="display: none; margin: 100px;">
    <i class="fas fa-spinner fa-spin fa-5x"></i>
  </div>
  <script type="text/javascript">
    function spinner() {
      $("#spinner").show();
      $(".row").hide();
    }

  </script>
</div>
{% endblock %}
